body {
    background-color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
}
header, nav, section, aside, footer {
    background-color: #ebebeb;
    margin-bottom: 10px;
}
article {
    background-color:#777;
    color: #ebebeb;
    padding: 10px;
}
h1, p {
    color: #777;
    background-color: #ebebeb;
    padding: 10px;
}
section {
    width: 495px;
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    float: left;
}
aside {
    text-align: center;
    width: 420px;
    height: 280px;
    float: right;
}
footer, header, nav {
    padding: 2px;
    text-align: center;
}

footer {
    clear: both;
}