body {
    background-color: grey
}
table.table1, th {
    border: 1px white
}
table.table1 {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}
table.table1, th {
    border-collapse: collapse;
}
table.table1, th {
    width: 80%;
}
table.table1, th {
    height: 70px;
}
table.table1, th {
    color: grey;
}
table.table1, th {
    font-weight: normal;
}
table.table1 {
    margin-bottom: -12px;
}
table.table2, th {
    border: 1px white;
}
table.table2 {
    background-color: white;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}
table.table2, th {
    border-collapse: collapse;
}
table.table2, th {
    height: 70px;
}
table.table2, th {
    color: grey;
}
table.table2, th {
    font-weight: normal;
}
table.table2,th {
    color: grey;
}
table.table2 {
    margin-bottom: -5px;
}
table.table3, th {
    color: grey;
    border-collapse: collapse;
    border: 10px solid grey;
}
table.table3 {
    background-color: white;
    height: 230px;
    border-collapse: collapse;
    margin-left: 10%;
    margin-right: 10%;
}
th.section {
    width: 1000px;
}
th.aside {
    width: 800px;
}